*/__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

.DS_Store
.vscode
.idea
.codebuddy/


.venv
.env

*.pt
*.pkl
*.npy
*.index
*.json
!eval/kg_eval/dataset/*.json

data/
output/
eval/results/

retriever/faiss_cache_new/*
docker/Dockerfile
site/
